<%= form_for @point, :html => { :class => "form-horizontal point" } do |f| %>

    <% if @point.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @point.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :temperature, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :temperature, :class => 'form-control' %>
    </div>
    <%= error_span(@point[:temperature]) %>
  </div>
  <div class="control-group">
    <%= f.label :pm25, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pm25, :class => 'form-control' %>
    </div>
    <%= error_span(@point[:pm25]) %>
  </div>
  <div class="control-group">
    <%= f.label :group, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :group, :class => 'form-control' %>
    </div>
    <%= error_span(@point[:group]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            points_path, :class => 'btn btn-default' %>

<% end %>
